@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    /* outline: solid 1px red; */
}

:root {
    
    /* font */
    --font-Headings: 'Raleway', sans-serif;
    --font-Body: 'Open Sans', sans-serif;
    
    /* text */
    --color-grey-placeholder: rgb(199, 196, 196);
    --color-White: hsl(0, 0%, 100%);
    
    /* primary */
    --blue-intro: hsl(217, 28%, 15%);
    --blue-main: hsl(218, 28%, 13%);
    --blue-footer: hsl(216, 53%, 9%);
    --blue-testimonials: hsl(219, 30%, 18%);
    
    /* accent */
    --Cyan-gradient: hsl(176, 68%, 64%);
    --Blue-gradient: hsl(198, 60%, 50%);
    --Light-Red-error: hsl(0, 100%, 63%);
    
    --padding-container: 4rem 0;
    
    --gradient: linear-gradient(to right, var(--Cyan-gradient), var(--Blue-gradient));
    --box-shadow-testimony: 1px 1px 10px -5px rgba(255, 255, 255, .28);
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(hsl(176, 68%, 64%));
    background-color: var(--blue-intro);
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-container);
}

.hero {
    min-height: 100vh;
    background-color: var(--blue-main);
    position: relative;
}


.nav__container {
    display: flex;
    align-items: center;
    font-family: var(--font-family-Headings);
}

.nav__logo {
    width: 35%;
    max-width: 150px;
}

.nav__img {
    width: 100%;
    display: block;
    max-width: 260px;
}

.nav__links {
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}

.nav__link {
    display: inline-block;
    color: var(--color-White);
    font-weight: 300;
}

.hero__main {
    margin: 0 auto;
    text-align: center;
}


.hero__img {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    width: 100%;
    display: block;
    max-width: 600px;
}

.hero__title {
    font-size: 2em;
    margin-top: 2em;
    color: var(--color-White);
    font-family: var(--font-Headings);
}


.hero__paragraph {
    line-height: 1.5;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    color: var(--color-White);
    font-weight: 300;
}

.hero__cta {
    margin: 0 auto;
    font-family: var(--font-family-Headings);
    font-weight: 600;
    margin-top: 2em;
    display: inline-block;
    color: var(--color-White);
    width: 250px;
    background-image: var(--gradient);
    padding: 1em 4em;
    border-radius: 2em;
    margin-bottom: 3em;
}

/* ---------------- main -------------------- */

.main {
    min-height: 100vh;
    background-color: var(--blue-main);
}

.cards__item {
    display: grid;
    text-align: center;
    justify-content: center;
    gap: 1em;
    color: var(--color-White);
}

.cards__icon {
    margin: 0 auto;
    width: 25%;
    display: block;
}

.cards__title {
    font-family: var(--font-family-Headings);
}

.cards__paragraph{
    line-height: 1.5;
}


.about__container {
    padding-top: 6em;
    padding-bottom: 6em;
    margin: 0 auto;
    padding-top: 2em;
}

.about__img {
    margin-bottom: 3em;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

.about__text {
    color: var(--color-White);
}

.about__title{
    text-align: center;
    margin-top: 3em;
    font-family: var(--font-Headings);
}

.about__paragraph{
    font-weight: 300;
    margin-top: 2em;
    line-height: 1.5;
}


.about__cta {
    display: inline-block;
    padding-top: 1em;
    font-weight: 300;
    color: var(--Cyan-gradient);
    line-height: 2.5;
    border-bottom: 1px solid var(--Cyan-gradient);
}

.about__icon{
    width: 20px;
    margin-left: 0.3em;
    vertical-align: middle;
}

.testimony{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    color: var(--color-White);
}

.testimony__item{
    position: relative;
    width: 90%;
    margin: 0 auto;
    background: var(--blue-testimonials);
    padding: 2em 1.2em;
    border-radius: 1em;
    box-shadow: var(--box-shadow-testimony);
}

.testimony__item--first::after{
    position: absolute;
    content: "";
    top: -35px;
    left: 0;
    background-image: url(/images/bg-quotes.png);
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.testimony__info{
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.testimony__picture{
    width: 40px;
    height: 40px;
}

.testimony__img{
   width: 100%;
   height: 100%;
   border-radius: 90%;
   object-fit: cover; 
}

.testimony__name{
    font-size: 1.1rem;
    font-family: var(--font-Body);
}

.testimony__founder{
    font-size: 0.8rem;
    color: #a1a1a1;
}


.join {
    margin: 0 auto;
    background-image: linear-gradient(var(--blue-main) 50%, var(--blue-footer)50%);
    padding: 60px 0;
    color: var(--color-White);
}

.join__container{
    background-color: var(--blue-testimonials);
    padding: 3.5em 1.5em;
    border-radius: 2em;
    text-align: center;
}

.join__title {
    font-family: var(--font-Headings);
    margin-bottom: 1em;
    color: var(--color-White);
    text-align: center;
}

.join__paragraph {
    line-height: 1.5;
    margin-bottom: 1em;
}

.join__inputs {
   display: grid;
   gap: 1.2em;
}

.join__input {
    font: inherit;
    padding: 1.2em 1.4em;
    border-radius: 3em;
    outline: none;
}

.join__input--submit {
    font-size: 1rem;
    background-image: var(--gradient);
    color: var(--color-White);
    font-family: var(--font-family-Headings);
    font-weight: 700;
    padding: 1.2em 1.4em;
    border-radius: 3em;
    cursor: pointer;
}

/* ---------------------footer ---------------------*/

.footer {
    color: var(--color-White);
    background-color: var(--blue-footer);
    display: grid;
}

.footer__picture{
    width: 200px;
    margin-bottom: 2.5em;
}

.footer__img {
    width: 100%;
    display: block;
}

.footer__contact {
    padding-bottom: 1em;
}

.footer__content {
    padding-top: 2em;
    display: grid;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 1em;
}


.footer__direction{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
}

.footer__direction::before{
    content: "example@fylo.com";
    padding-left: 2em;
}

.footer__icon {
    position: absolute;
    color: var(--color-White);
    display: block;
    width: 20px;
    max-width: 20px;
}

.footer__direction--first::before{
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore";
    padding-left: 2em;
}

.footer__direction--second{
    margin: 2em 0;
}

.footer__direction--second::before{
    content: "+1-543-123-4567";
    padding-left: 2em;
}

.footer__nav{
    margin-top: 3em;
    display: grid;
    gap: .7em;
}

.footer__link{
    font-size: 1.2em;
    color: var(--color-White);
    font-family: var(--font-Headings);
}

.footer__link:hover{
    text-decoration: underline;
}

.footer__social{
    font-weight: 300;
    padding-top: 4em; 
    margin: 0 auto;
    width: max-content;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    gap: 1em;
}

.footer__media{
    width: 20px;
    height: 20px;
    display: block;
}

.footer__smedia{
    display: inline-flex;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@media (min-width:768px){

    .hero__title{
        font-size: 3rem;
    }

    .hero__paragraph{
        font-size: 1.5em;
    }

    .cards__container{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3em;
    }

    .hero__cta {
        cursor: pointer;
        margin: 0 auto;
        font-size: 1.2em;
        font-family: var(--font-Headings);
        font-weight: 600;
        margin-top: 2em;
        display: inline-block;
        color: var(--color-White);
        width: 300px;
        background-image: var(--gradient);
        padding: 20px 30px;
        border-radius: 5em;
        margin-bottom: 3em;
    }
    
    .about__container {
        display: grid;
        grid-template-columns: 1fr 1fr;

    
    
    }
    
    .about__title{
        font-size: 2rem;
        text-align: left;
        margin-top: 3em;
        font-family: var(--font-Headings);
    }


    .testimony__item{
        width: 30%;
    }

    .join__container{
        max-width: 800px;
    }

    .join__inputs{
        padding-top: 1em;
        display: grid;
        grid-template-columns: 1fr max-content;
    }
   
    .footer__contact{
        max-width: 200px; ;
    }

    .footer__content{
       display: grid;
       grid-auto-flow:column ;
       gap: 2em;
    }

    .footer__nav{
        margin-top: 0;
    }
    .footer__social{
        margin:0;
    }

    .footer__direction--first::before{
        max-width: 300px;
    }
    .footer__direction--second{
        margin: 0 0 1em;
    }

}