@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    /* outline: solid 1px red; */
}

body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(hsl(176, 68%, 64%));
}

:root{

    /* font */
    --font-family-Headings-cta-Hero:'Raleway', sans-serif;
    --font-family-Body:'Open Sans', sans-serif;
    --font-size-nav:14px;

    /* text */
    --color-grey-placeholder:rgb(199, 196, 196);
    --color-White: hsl(0, 0%, 100%);

    /* primary */
    --intro-and-email-sign-up-background:  hsl(217, 28%, 15%);
    --background-main:hsl(218, 28%, 13%);
    --background-footer:hsl(216, 53%, 9%);
    --testimonials-background:hsl(219, 30%, 18%);

    /* accent */
    --Cyan-inside-call-to-action-gradient:hsl(176, 68%, 64%);
    --Blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
    --Light-Red-error: hsl(0, 100%, 63%);

    --padding-container: 2rem 0;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-container);
}

.hero{
    min-height: 100vh;
    background-color: var(--background-main);
}

.hero__section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero__logo{
    width: 35%;
    max-width: 150px;
}

.hero__fylo{
    width: 100%;
    display: block;
}

.hero__link{
    display: inline-block;
    color: var(--color-White);
    font-size: 0.9em;
    padding: 0 0.1em;
    font-weight: 300; 
}

.hero__items{
    margin: 0 auto;
}

.hero__picture{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.hero__img{
    width: 100%;
    display: block;
}

.hero__text{
    margin: 0 auto;
    text-align: center;
}

.hero__title{
    font-size: 2em;
    margin-top: 1em;
    color: var(--color-White);
    font-family: var(--font-family-Headings-cta-Hero);
}

.hero__paragraph{
    text-align: center;
    font-size: 0.9em;
    margin-top: 1em;
    color: var(--color-White);
    font-weight: 300;
}

.cta{
    margin-top: 2em;
    display: inline-block;
    color: var(--color-White);
    color: var(--color-White);
    background: var(--Blue-inside-call-to-action-gradient) ;
    padding: 1em 4em;
    border-radius: 2em;
    margin-bottom: 3em;
}

.hero__icon{
    margin: 0 auto;
    width: 25%;
    max-width: 250px;
    display: block;
}


.hero__main{
    display: flex;
    flex-direction: column;
}


.hero__subtitle{
    font-size: 1.3em;
    padding-top: 2em;
    color: var(--color-White);
    text-align: center;
}



/* main */

.main{
    min-height: 100vh;
    background-color: var(--background-main);   
}

.main__productive{
    padding-top: 6em;
    padding-bottom: 6em;
}

.main__container{
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
}

.main__stay{
    width: 100%;
}

.main__paragraph{
    color: var(--color-White);
    padding-top: 1em;
    text-align: left;
    font-weight: 300;
}

.main__cta{
    display: inline-block;
    padding-top: 1em;
    font-weight: 300;
    color: var(--Cyan-inside-call-to-action-gradient);
}

.main__cta::before{
    content: "";
}

.main__subtitle{
    font-size: 1.3em;
    padding-top: 1em;
    color: var(--color-White);
    text-align: center;
}

.main__items {
    position: relative;
    background: var(--intro-and-email-sign-up-background);
    border-radius: 0.5em;
    padding: 1em;
}


.main__items--left::after{
    margin-top: 6em;
    position: absolute;
    content: url(/images/bg-quotes.png);
    background-repeat: no-repeat;
    top: -140px;
    left: 0;
}


.main__paragraph--left{
    line-height: 2em;
    padding-bottom: 2em;
}

.main__item{
 display: flex;
}

.main__icon{
    border-radius: 100%;
    width: 2.5em;
    display: block;
}

.main__text{
    padding-left: 1em;
    padding-bottom: 1em;
}

.main__name{
    letter-spacing:0.1em ;
    font-weight:500;
    font-size: 1em;
    color: var(--color-White);
}

.main__founder{
    padding-top: 0.3em;
    font-weight: 300;
    font-size: 0.8em;
    color: var(--color-White);
}

.main__container--iva{
    padding-bottom: 8em;
}

.main__getEarly{
    margin: 0 auto;
}

.main__section--get{
    background: var(--intro-and-email-sign-up-background);
    padding: 1em;

}

.main__title{
    padding-top: 1em;
    color: var(--color-White);
    text-align: center;
}

.main__paragraph--inputs{
    margin: 0 auto;
    text-align: center;
}

.main__inputs{
    padding-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main__input{
    font-weight: 500;
    outline: none;
    padding: 1.5em 2em;
    border-radius: 3em;
}

.main__input::placeholder{
    color: var(--color-grey-placeholder);
}

.main__button{
    display: inline-block;
    font-family: var(--font-family-Headings-cta-Hero);
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
    color: var(--color-White);
    background-color: var(--Cyan-inside-call-to-action-gradient);
    margin-top: 2em;
    padding: 1.5em 4em;
    border-radius: 3em;
}

/* footer */
.footer{
    padding-top: 4em;
    min-height: 100vh;
    background-color: var(--background-main);   
}

.footer__logo{
    display: block;
}

.footer__items{
    padding-top: 2em;
    display: grid;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 2em;
}

.footer__contact--flex{
    display: flex;
    display: grid;
    align-items: top;
}

.footer__paragraph{
    color: var(--color-White);
    padding-left: 2em;
}

.footer__icon{
    position: absolute;
    color: var(--color-White);
    display: block;
    width: 20px;
}

.footer__contact--phone::after{
    position: relative;
    text-align: center;
    padding-left: 2em;
    color: var(--color-White);
    content: "+1-543-123-4567";
}

.footer__contact--email::after{
    position: relative;
    text-align: center;
    padding-left: 1em;
    color: var(--color-White);
    content: "example@fylo.com";
}
.footer__text{
    padding-top: 2em;
    color: var(--color-White);
}

.footer__aboutUs{
    padding-bottom: 1em;
    font-size: 1.2em;
}


.footer__social{
    display: flex;
    align-items: center;
    padding-top: 5em;
}


.footer__links{
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 5em;
    display: inline-block;
}

.footer__redes{
    display: block;
    width: 25px;
    height: 25px;
    margin: 0.5em;
}

